<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.5.1.34" targetFramework="net461" />
  <package id="AWSSDK.DynamoDBv2" version="3.5.2" targetFramework="net461" />
  <package id="AWSSDK.S3" version="3.5.3.12" targetFramework="net461" />
  <package id="AWSSDK.SQS" version="3.5.0.36" targetFramework="net461" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net45" />
  <package id="log4net" version="2.0.12" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net461" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.0" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.6.0" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Abstractions" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Analyzers" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Relational" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Caching.Memory" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net461" />
  <package id="ServiceStack" version="5.10.2" targetFramework="net45" />
  <package id="ServiceStack.Api.Swagger" version="5.10.2" targetFramework="net461" />
  <package id="ServiceStack.Aws" version="5.10.2" targetFramework="net461" />
  <package id="ServiceStack.Client" version="5.10.2" targetFramework="net45" />
  <package id="ServiceStack.Common" version="5.10.2" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="5.10.2" targetFramework="net45" />
  <package id="ServiceStack.OrmLite" version="5.10.2" targetFramework="net45" />
  <package id="ServiceStack.OrmLite.SqlServer" version="5.10.2" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="5.10.2" targetFramework="net45" />
  <package id="ServiceStack.Server" version="5.10.2" targetFramework="net45" />
  <package id="ServiceStack.Text" version="5.10.2" targetFramework="net45" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Collections.Immutable" version="1.7.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="4.6.0" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.7.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Reflection.Emit" version="4.6.0" targetFramework="net461" />
  <package id="System.Reflection.TypeExtensions" version="4.6.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.6.0" targetFramework="net461" />
  <package id="System.Security.Permissions" version="4.6.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.6.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net461" />
  <package id="Z.Expressions.Eval" version="4.0.28" targetFramework="net461" />
</packages>